#newsorg-input-wrapper.invalid:after {
	content: 'Please enter a valid news organization.';
}

#contact-input-wrapper.invalid:after {
	content: 'Please enter a valid contact person.';
}

#email-input-wrapper.invalid:after {
	content: 'Please enter a valid email address.';
}

#newsletters-input-wrapper.invalid:after {
	content: 'Please enter a valid newsletter or newsletters.'
}