/* Regular inputs */

%form-elt {
	padding: $form-input-padding;
	font-size: $form-font-size;
	line-height: $form-line-height;
	transition: color $form-transition, background-color $form-transition;
	border-radius: $border-radius;
	border: 1px solid $medium-grey; 
	background-color: transparent;
	color: $body-color;
    height: auto;

	@include media-breakpoint-up(sm) {
		padding: $form-input-padding-desktop;
		font-size: $form-font-size-desktop;
	}

	@include media-breakpoint-up(xxl) {
		padding: $form-input-padding-xxl;
		font-size: $form-font-size-xxl;
	}
}

label {
	margin-bottom: .2rem;
}

.form-input-wrapper {
	position: relative;
	padding: 0;
	margin: $form-elt-margin;
}

.form-input-wrapper:after, .form-input-wrapper .awesomplete:after,
.inline-wrapper:after {
    position: absolute;
    font-size: $small-text-size;
    left: 0rem;
    transition: $form-transition;

    @include media-breakpoint-up(xxl) {
        font-size: $small-text-size-xxl;
    }
}

.form-input-wrapper:after, .form-input-wrapper .awesomplete:after {
    top: 2 * $form-input-top-padding + 
        $form-font-size * $form-line-height + 0.25rem;

    @include media-breakpoint-up(sm) {
        top: 2 * $form-input-top-padding + 
            $form-font-size-desktop * $form-line-height + 0.25rem;
    }

    @include media-breakpoint-up(xxl) {
        top: 2 * $form-input-top-padding + 
            $form-font-size-xxl * $form-line-height + 0.25rem;
    }
}

.inline-wrapper:after {
    bottom: -1.25rem;
}

.form-input-wrapper.invalid:after,
.form-input-wrapper .awesomplete.invalid:after,
.inline-wrapper.invalid:after {
	color: $form-invalid-msg-color;
}

.form-input-wrapper.valid:after,
.form-input-wrapper .awesomplete.valid:after
.inline-wrapper.invalid:after {
	opacity: 1;
	color: $form-valid-msg-color;
}

.form-input-wrapper input,
.form-input-wrapper select {
	@extend %form-elt;
	position: relative;
	width: 100%;

    &:focus {
    	outline: 0;
    }

    &:focus ~ .focus-bg {
    	opacity: 1;
    }
}

.form-input-wrapper input ~ .focus-bg,
.form-input-wrapper select ~ .focus-bg,
.form-input-wrapper .awesomplete ~ .focus-bg {
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%;
    height: 100%; 
    background-color: $light-grey;
    opacity: 0; 
    transition: $form-transition; 
    z-index: -1;
}

.form-input-wrapper input.invalid ~ .focus-bg,
.form-input-wrapper select.invalid ~ .focus-bg,
.form-input-wrapper .awesomplete.invalid ~ .focus-bg {
	background-color: $form-invalid-input-color;
	opacity: 1;
}

.form-input-wrapper input.valid ~ .focus-bg,
.form-input-wrapper select.valid ~ .focus-bg,
.form-input-wrapper .awesomplete.valid ~ .focus-bg {
	background-color: $form-valid-input-color;
	opacity: 1;
}

@-webkit-keyframes autofill {
    to {
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#submit {
	@extend %form-elt;
	cursor: pointer;

	&:hover {
		background-color: $light-grey;
	}

	&:focus {
		outline: 0;
	}
}

/* Select boxes */

.custom-select:focus {
    border: 1px solid #ddd;
    box-shadow: none;
}

/* Checkboxes and Radios */

.custom-control:not(.custom-control-inline) {
  margin: $form-elt-margin;
}

.custom-control-label:before {
  border: 1px solid $medium-grey;
}

.inline-wrapper {
  margin-top: 0.35rem;
  margin-bottom: $form-elt-bottom-margin;
  position: relative;
}

.custom-control-inline {
    margin-bottom: 0.2rem;
}

/* Autocomplete */

.awesomplete {
    ul {
        position: absolute;
        left: 0;
        z-index: 1;
        min-width: 100%;
        box-sizing: border-box;
        list-style: none;
        padding-inline-start: 0;
        opacity: 0.9;
    }

    li {
        background-color: white;
        transition: background-color $form-transition;
        padding: $form-input-padding;
        font-size: $form-font-size;
        line-height: $form-line-height;
        border-top: none;
        border-left: .5px solid $medium-grey;
        border-bottom: .5px solid $medium-grey;
        border-right: .5px solid $medium-grey;

        @include media-breakpoint-up(sm) {
            padding: $form-input-padding-desktop;
            font-size: $form-font-size-desktop;
        }

        @include media-breakpoint-up(xxl) {
            padding: $form-input-padding-xxl;
            font-size: $form-font-size-xxl;
        }
    }

    li:hover {
        background-color: $light-grey;
        cursor: pointer;
    }

    li[aria-selected="true"] {
        background-color: $medium-grey;
    }

    mark {
        background-color: unset;
        padding: unset;
    }

    .visually-hidden {
        display: none;
    }
}
