.home-page-title {
	display: flex;
	justify-content: center;
}

.home-page-title-text {
	color: $crimson;
	font-size: 3rem;
    margin-bottom: 1.75rem;
    text-align: center;
}

@include media-breakpoint-up(sm) {
	.home-page-title-text {
		font-size: 3.5rem;
		margin-bottom: 2.25rem
	}
}