.title-text {
	color: $crimson;
	font-size: $title-text-size;
    margin-bottom: $title-text-margin-bottom;
    text-align: center;
}

@include media-breakpoint-up(sm) {
	.title-text {
		font-size: $title-text-size-desktop;
		margin-bottom: $title-text-margin-bottom-desktop;
	}
}