h1 {
	color: $crimson;
	font-size: $h1-size;
	padding-bottom: $h1-extra-padding;
	text-align: center;

    @include media-breakpoint-up(sm) {
		font-size: $h1-size-sm;
		padding-bottom: $h1-extra-padding-sm;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h1-size-xxl;
		padding-bottom: $h1-extra-padding-xxl;
	}
}

h2 {
	color: $crimson;
	font-size: $h2-size;

    @include media-breakpoint-up(sm) {
		font-size: $h2-size-sm;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h2-size-xxl;
	}
}

strong {
	color: $crimson;
}

.disabled-elt {
	opacity: 0.5;
	pointer-events: none;
}

.small {
	font-size: $small-text-size;

	@include media-breakpoint-up(xxl) {
		font-size: $small-text-size-xxl;
	}
}