.title-text {
	color: $crimson;
	font-size: $title-text-size;
    margin-bottom: $title-text-margin-bottom;

    @include media-breakpoint-up(sm) {
		font-size: $title-text-size-desktop;
		margin-bottom: $title-text-margin-bottom-desktop;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $title-text-size-xxl;
		margin-bottom: $title-text-margin-bottom-xxl;
	}
}

.disabled-elt {
	opacity: 0.5;
	pointer-events: none;
}