html, body {
	height: 100%;
}

body {
  	display: flex;
  	flex-direction: column;
}

.has-bottom-margin {
	margin-bottom: $std-bottom-margin;
}

.content-block {
	margin-bottom: $content-block-margin-bottom;
}

.bordered {
	padding: 2.5rem;
    border: 0.5px solid $medium-dark-grey;
}