nav {
	background-color: white;
}

.navbar-brand {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	svg {
		height: 50px;
	}
}

.page-wrapper {
	position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    overflow-x: hidden;
}

.container-fluid {
	position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100%;
	transition: $form-transition transform;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section-one {
	left: 0;
}

.section-two {
	left: 100vw;
}

.section-three {
	left: 200vw;
}

.section-four {
	left: 300vw;
}