@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima Nova.ttf') format('truetype');
}

@font-face {
	font-family: 'Proxima Nova Bold';
	src: url('../fonts/Proxima Nova Bold.ttf') format('truetype');
}