$crimson: #a71930;
$dark-grey: #555;
$medium-grey: #ccc;
$light-grey: #ededed;

$link-color: $crimson;
$link-hover-decoration: none;

$navHeight: 60px;

$form-elt-margin: 0rem .75rem 2.25rem .75rem;
$form-input-top-padding: .67rem;
$form-input-padding: $form-input-top-padding 1.33rem;
$form-font-size: 1.6rem;
$form-line-height: 1.5;
$form-transition: 0.5s ease;

$form-invalid-input-color: rgba(238, 95, 91, .25);
$form-invalid-msg-color: rgb(238, 95, 91);
$form-valid-input-color: rgba(98, 196, 98, .25);
$form-valid-msg-color: rgb(98, 196, 98);
