#index {
	.flow-overview {
		margin-left: 1.5rem;
		margin-right: 1.5rem;
	}

	.index-icon {
		height: $index-svg-height;
		fill: $crimson
	}

	.col-md-1 {
		height: $index-svg-height;
	}

	.arrow {
		fill: $medium-dark-grey;
	}

	.main-svg {
		max-width: 100%;
	}
}
